/* Weather Dashboard heading */
h1 {
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: lightgray;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Whole Search section */
#search-container {
    padding: 6%;
}

/* Search Title only */
#search-container div {
    font-size: 30px; 
}

/* This is just for the "5-Day Forecast" Title */
h2 {
    font-size: 30px;
}

/* List padding to match search */
#city-list-container {
    padding: 6%; 
}

/* Surrounding current city weather */
#main-card-container {
    padding: 2%;
    height: fit-content;
    width: 90%;
}

/* Inside the current city card */
#main-card-container .card {
    padding: 3%;
}

/* Button change on hover */
.btn:hover {
    background-color: #cecece;
}

.card-deck {
    padding-right: 10%;
    justify-content: center;
}

.card-deck .card-body {
    background-color: #aeaeae;
}

